.navbar.navbar-light.fixed-top.navbar-expand-lg.bg-light
  .container
    a.navbar-brand(href="/")
      img(src="../images/favicon.png" height=20, width=20)
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.nav-item(class=(title === 'Home') ? 'active' : undefined)
          a.nav-link(href='/') Home
            i.fas.fa-home
        li.nav-item(class=(title === 'Cart') ? 'active' : undefined)
          a.nav-link(href='/cart') Your Cart
            i.fas.fa-shopping-cart
        //- li.nav-item(class=(title === 'API Examples') ? 'active' : undefined)
        //-   a.nav-link(href='/api') API Examples
        li.nav-item(class=(title === 'Contact') ? 'active' : undefined)
          a.nav-link(href='/contact') Contact
        //- li.nav-item(class=(title === 'Status') ? 'active' : undefined)
        //-   a.nav-link(href='/status') Status
        li.dropdown(class=(title == 'Product Viewing') ? 'active': undefined).nav-item
          a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown') Products
            div.dropdown-menu 
              a.dropdown-item(href='/products') All Products
              div.dropdown-divider 
              a.dropdown-item(href='/products/refrigerators') Refrigerators
              div.dropdown-divider
              a.dropdown-item(href='/products/microwaves') Microwaves
              div.dropdown-divider  
              a.dropdown-item(href='/products/coffeemakers') Coffee Makers
              div.dropdown-divider 
              a.dropdown-item(href='/products/blenders') Blenders
              div.dropdown-divider 
      input.search(
        type='text' name='search' placeholder='Enter an item')
          
      ul.nav.navbar-nav.ml-auto
        if !user
          li.nav-item(class=(title === 'Login') ? 'active' : undefined)
            a.nav-link(href='/login') Login
          li.nav-item(class=(title === 'Create Account') ? 'active' : undefined)
            a.nav-link(href='/signup') Create Account
        else
          li.dropdown(class=(title === 'Account Management') ? 'active' : undefined).nav-item
            a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src=user.profile.picture)
              else
                img(src=user.gravatar(60))
              span= user.profile.name || user.email || user.id
              i.caret
            div.dropdown-menu
              a.dropdown-item(href='/account') My Account
              div.dropdown-divider
              a.dropdown-item(href='/logout') Logout
            div.dropdown-menu
              a.dropdown-item(href='/shoppingcart') My Cart
